.menu{
    margin: 2rem 0;
    padding: 4rem 8rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}


@media screen and (max-width:1200px) {
    .menu{
        padding: 4rem 6rem;
    }
}

@media screen and (max-width: 880px) {
    .menu{
        padding: 4rem 4rem;
    }
}

@media screen and (max-width:680px) {
    .menu{
        padding: 4rem 2rem;
    }
}

@media screen and (max-width: 480px) {
    .menu{
        padding: 4rem 1rem;
    }
}